* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #05aaf0, #ebf1f3, #052534);
}
.calculator {
    width: 320px;
    background: #111;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.7);
}

.calculator h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

#display {
    width: 100%;
    height: 55px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 22px;
    text-align: right;
    border: none;
    border-radius: 10px;
    background: #222;
    color: #00ffcc;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 55px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    background: #1e1e1e;
    color: #fff;
    transition: all 0.2s ease;
}


button:hover {
    background: #00ffcc;
    color: #000;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

button:nth-child(1) {
    background: #ff4d4d;
}

button:nth-child(1):hover {
    background: #ff1a1a;
    color: #fff;
}

button[onclick="calculate()"] {
    background: #ffaa00;
    color: #000;
    font-weight: bold;
}

button[onclick="calculate()"]:hover {
    background: #ffcc33;
}

.zero {
    grid-column: span 2;
}
