* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background: #000;
  color: #fff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: rgba(0,0,0,0.9);
  position: sticky;
  top: 0;
}
.logo {
  color: red;
  font-size: 26px;
}
.name{
    color: white;
    font-size: 26px;
}
.menu {
  display: flex;
  list-style: none;
  gap: 20px;
}
.menu li {
  cursor: pointer;
}
.banner {
  height: 70vh;
  background: linear-gradient(to top, #000, transparent),
 url('https://images.unsplash.com/photo-1606112219348-204d7d8b94ee') center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}
.banner h2 {
  font-size: 45px;
}
.banner button {
  width: 150px;
  padding: 10px;
  margin-top: 20px;
  border: none;
  background: red;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.movies {
  padding: 30px;
}
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.movie-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}
.movie-card img {
  width: 100%;
  transition: transform 0.4s;
}
.movie-card:hover img {
  transform: scale(1.1);
}
.movie-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, black, transparent);
  padding: 10px;
  font-size: 14px;
}