*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
}

nav{
    background: #1f2933;
    padding: 12px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}
ul{
    list-style: none;
    display: flex;
    gap: 25px;
}

ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding-bottom: 4px;
}

ul li a:hover{
    border-bottom: 2px solid #38bdf8;
}

.btn{
    background: #38bdf8;
    color: #000;
    padding: 8px 14px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover{
    background: #0ea5e9;
    color: #000;

}

.container{
    margin: auto;
    box-shadow: 10px 10px 10px #000;
    margin-left: 37%;
    margin-top: 3%;
     background: gray;
     width: 350px;
     padding: 25px;
     border-radius: 12px;
     box-shadow:  0px 10px 25px rgba(0,0,0,0,2);
}
 
h1{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
 form p{
    margin-bottom: 15px;
 }

 label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
 }

 input{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    font-size: 15px;
 }

 input:focus{
    outline: none;
    border-color: #4facfe;
 }
  button{
  width: 40%;
  padding: 12px;
  background: #4facfe;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 100px;
  transition: 0.3s;
  }

  button:hover{
    background: #00c6ff;
  }

  #results{
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #333
  }

  #weight-guide
  {
    margin-top: 20px;
    margin-left: 20px;
    background: #f5f7fa;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }

  #weight-guide h3{
    margin-left: 20%;
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}
 #weight-guide p{
    font-size:14px;
    margin-left: 50px;
    color: #555;
 }