*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}
 .canvas{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    text-align: center;
 }
 .h1{
    margin-bottom: 20px;
 }
 .button{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid #000;
 }

 #red{ background-color: red;}
 #blue{ background-color: blue;}
 #black{ background-color: black;}
 #yellow{ background-color: yellow}
 #green{ background-color: green}
 #indigo{ background-color: indigo;}
 #olive{ background-color: olive;}
 #tan{ background-color: tan}
