@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Page Background */
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top, #0f2027, #000);
}

/* Container */
.container{
    width: 340px;
    padding: 25px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(12px);
    border-radius: 18px;
    text-align: center;
    color: #fff;
    box-shadow: 0 0 35px rgba(0,255,255,0.3);
    position: relative;
}

/* Neon Border */
.container::before{
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: 20px;
    background: linear-gradient(45deg, #00f2ff, #ff00f7);
    z-index: -1;
}

/* Heading Text */
.container p{
    font-size: 18px;
    margin-bottom: 18px;
    text-shadow: 0 0 10px #00f2ff;
}

/* Input */
.container input{
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    font-size: 14px;
    background: rgba(255,255,255,0.15);
    color: #fff;
}

.container input::placeholder{
    color: #ccc;
}

/* Button */
.container button{
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient(135deg, #ff00f7, #00f2ff);
    color: #000;
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(0,255,255,0.6);
}

.container button:hover{
    letter-spacing: 1px;
    box-shadow: 0 0 30px rgba(255,0,247,0.9);
}

/* Responsive */
@media(max-width: 420px){
    .container{
        width: 90%;
    }
}