*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  min-height: 100vh;
  background: radial-gradient(circle at top, #1b1f3b, #0a0c1b);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
h1{
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  letter-spacing: 3px;
  text-shadow: 0 0 10px #00f7ff;
}

.container{
  display: flex;
  justify-content: center;
}
.game{
  display: grid;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(3, 90px);
  gap: 15px;
}

.box{
  background: rgba(255,255,255,0.05);
  border: 2px solid #00f7ff;
  border-radius: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
  box-shadow: 0 0 15px #00f7ff;
  transition: 0.25s;
}
.box:hover{
  transform: scale(1.1);
  box-shadow: 0 0 25px #00f7ff, 0 0 40px #00f7ff;
}
.box.X{
  color: #ff4d4d;
  text-shadow: 0 0 15px #ff4d4d;
}

.box.O{
  color: #4dff88;
  text-shadow: 0 0 15px #4dff88;
}

.box:disabled{
  cursor: not-allowed;
  opacity: 0.8;
}
#reset-btn,
#new-btn{
  margin-top: 20px;
  margin-right: 20%;
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(90deg, #00f7ff, #4dff88);
  cursor: pointer;
  color: #000;
  box-shadow: 0 0 15px #00f7ff;
  transition: 0.3s;
}

#reset-btn:hover,
#new-btn:hover{
  transform: scale(1.1);
  box-shadow: 0 0 30px #4dff88;
}


.msg-container{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#msg{
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #ffdd57;
  text-shadow: 0 0 20px #ffdd57;
}

.hide{
  display: none;
}


@media (max-width: 500px){
  .game{
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
    gap: 10px;
  }

  .box{
    font-size: 2rem;
  }

  h1{
    font-size: 1.5rem;
  }
}